$chevronOffset: 2rem;

.button,
.product .added_to_cart {
  position: relative;
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.7px;
  transition: 0.3s all ease;
  color: $color-grey-dark;
  border: 1px solid $color-grey-dark;

  &__inline {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: none;
    letter-spacing: 0;
  }

  &__ghost {
    display: inline-block;
    background: none;
    border: 1px solid white;
    color: white;
  }

  &__light {
    color: $color-grey-dark;
    background: white;

    &:after {
      filter: brightness(0.5);
    }
  }

  &.textonly {
    background: none;
    color: $color-black;
    text-transform: none;
    font-family: $default-header-style;
    padding: 1rem 0;
  }
  &__spanish {
    position: relative;
    display: inline-block;
    background-color: $color-sp-red;
    color: white;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 5px;
      width: 5px;
      height: 100%;
      background-color: $color-sp-yel;
    }
  }
}
